@font-face {
	font-family: FuturaLT-Book; 
	src: url('FuturaLT-Book.otf');
}

@font-face {
	font-family: FUTURAL; 
	src: url('FUTURAL.TTF');
}

.nav-link  {font-family: FuturaLT-Book;
			font-size: 11px;
			line-height: 50px;
			color: #CCCCCC;
			position: relative;
			letter-spacing: 0.5px;
			padding-right: 40px;}

.nav-link:hover { color:#605E5E  }

.carrinho {margin-left: 100px; 
			margin-top: 15px;}

.carro1 {margin-left: 645px;}

.all {	font-family: FUTURAL; 
		font-size: 14px;
		color: rgba(160,160,159,1);
		text-decoration: none;
		margin-left: 467px;}

.all:hover {color: rgba(160,160,159,1);
			text-decoration:none; }

.oi {margin-top: 42px;}

.principal3 {background-color: #F2F2F2;}

.fa-search {margin-left: 413px;
			font-size: 13px;}

.fa-ellipsis-v {font-size: 13px; margin-left: 70px; margin-top: 5px;}

.texto_card1 {text-decoration: none; 
			font-family: FUTURAL; 
			color: rgba(47,46,46,1); 
			font-size: 22px;
		 	margin-top: 10px;}

.texto_card1:hover {text-decoration: none; 
					opacity: 0.5;
					color: rgba(47,46,46,1); }

.Cartão2 {margin-left: 466px;}

.more1 { text-decoration: none; 
		font-family: FUTURAL; 
		color: rgba(47,46,46,1); 
		font-size: 12px;
		float: right;
		 margin-left: 80px;}

.more1:hover {text-decoration: none;color: rgba(47,46,46,1);}

.altura {width: 238px;}

.por {margin-top: 10px;}

.linha3 {margin-top: 30px;}

.sei {margin-left: 10px;}

.por1 {margin-top: -1px;}

.por2 {margin-top: -27px;}

