@font-face {
	font-family: FuturaLT-Book; 
	src: url('FuturaLT-Book.otf');
}

@font-face {
	font-family: FUTURAL; 
	src: url('FUTURAL.TTF');
}

.nav-link  {font-family: FuturaLT-Book;
			font-size: 11px;
			line-height: 50px;
			color: #CCCCCC;
			position: relative;
			letter-spacing: 0.5px;
			padding-right: 40px;}

.carro1 {margin-left: 645px;}

.nav-link:hover { color:#605E5E  }

.principal {margin-left: 13px;}

.Principal { width: 100%;}

.linha1 {background-color: #E6E6E6;margin-top: 2px;}

.Cartão1 {margin-left: 466px;}

.card {margin-top: 45px; width: 18.5rem;}

.card-text { font-family: FuturaLT-Book;
			text-decoration: none;
			color: black}

.carrinho {margin-left: 100px; 
			margin-top: 15px;}

.img_nav { margin-top: -5px;}

.texto_card {text-decoration: none; 
			font-family: FUTURAL; 
			color: rgba(47,46,46,1); 
			font-size: 18px;}

.texto_card:hover {text-decoration: none; 
					opacity: 0.5;
					color: rgba(47,46,46,1); }

.comentario{text-decoration: none; 
			font-family: FuturaLT-Book; 
			color: rgba(47,46,46,1); 
			font-size: 12px;
			float: left;
			opacity: 0.7;}

.comentario:hover {text-decoration: none;color: rgba(47,46,46,1);}

.more { text-decoration: none; 
		font-family: FUTURAL; 
		color: rgba(47,46,46,1); 
		font-size: 12px;
		float: right;}

.more:hover {text-decoration: none;color: rgba(47,46,46,1);}

.sen {color: #e84a43}

.final {background-color: black;}

.VI {color: rgb(255, 255, 255);
	font-size: 15px;
	font-family: FuturaLT-Book;
	text-align: center;
	letter-spacing: 0.449999982660467em;
	margin-top: 40px;}

.ult_card {margin-left: -233px;}

.hor {font-size: 13px;}

.linha2 {margin-top: -18px;}

hr {margin-top: 24px;}

.botão {background-color: rgba(47, 46, 46, 1);;
		font-family:FuturaLT-Book;
		font-size: 15px;
		color: white;
		width: 351px;
		height: 48px;
		margin: auto; 
		margin-top: 20px;
		margin-bottom: 10px;
		border-radius: 0px;}

.botão:hover {background-color: rgba(204, 204, 204, 1);
				color: rgba(47, 46, 46, 1);}

.texto_sem { letter-spacing: 0.25em;
			line-height: 1.4em;
			color: #2F2E2E;
			font-size: 11px;
			font-family: FUTURAL;
			margin-left: 465px;
			margin-top: 30px;}

.foto_1 {margin-left: 460px;}

.foto_2 {margin-left: -475px;}


.aa {background-image: url(IMG/Céu.png)}
.aa:hover {background-image: url(IMG/Céu_hover.png);}

.bb {background-image: url(IMG/Friends.png)}
.bb:hover {background-image: url(IMG/Friends_hover.png);}

.cc {background-image: url(IMG/details.png)}
.cc:hover {background-image: url(IMG/details_hover.png);}

.dd {background-image: url(IMG/ela.png)}
.dd:hover {background-image: url(IMG/ela_hover.png);}

.please {margin-left: 460px; margin-top: 20px;}