@font-face {
	font-family: FuturaLT-Book; 
	src: url('FuturaLT-Book.otf');
}

.nav-link  {font-family: FuturaLT-Book;
			font-size: 11px;
			line-height: 50px;
			color: #CCCCCC;
			position: relative;
			letter-spacing: 0.5px;
			padding-right: 40px;}

.nav-link:hover { color:#605E5E  }

.Principal { width: 100%;}

.linha1 {background-color: #E6E6E6;margin-top: 2px;}

.Cartão1 {margin-left: 466px;}

.card {margin-top: 45px;}

.card-text { font-family: FuturaLT-Book;
			text-decoration: none;
			color: black}



