.Ima_Thays {margin-left: 446px; margin-top: 45px;}

.Sobre {}

.p_sobre {font-family: FUTURAL; font-size: 14px; margin-top: 42px; line-height: 1.6em;}

.titulo_sobre {font-family: FUTURAL; font-weight: 400; font-size: 15px; letter-spacing: 3px; margin-top: 140px; margin-left: -100}

.Sobre33 {margin-left: -280px;}

.Sobre44 {margin-top: 54px;}

.Sobre55 {margin-left: -945px;}

.final1 {background-color: black; margin-top: 270px;}

